body{
    margin: 0;
    padding: 0;
    border: 0;
    
}
.head {
    background-color: rgb(161, 220, 129);
    height: 80px;
    text-align: center;
    text-transform: capitalize;
    padding-top:0.1%;
    border:3px solid rgb(255, 255, 255);
    border-radius: 15px;
}

.nav {
    background-color: rgb(161, 220, 129);
    height: 50px;
    text-align: center;
    text-transform: capitalize;
    border-left:3px solid rgb(255, 255, 255);
    border-right:3px solid rgb(255, 255, 255);
    border-radius: 15px;
    
    
    
}

.side {
    background-color: rgb(161, 220, 129);
    text-align:center;
    text-transform: capitalize;
    height:600px;
    width:522px;
    border:3px solid rgb(255, 255, 255);
    margin-left: 750px;
    border-radius: 15px;
}

.article {
    background-color: rgb(161, 220, 129);
    text-align:center;
    text-transform: capitalize;  
    height:600px;
    width:740px;
    float:left;
    border:3px solid rgb(255, 255, 255);
    border-radius: 15px;
}

.footer {
    height: 50px;
    text-transform: capitalize; 
    text-align:center;
    background-color: rgb(161, 220, 129);
    border-left:3px solid rgb(255, 255, 255);
    border-right:3px solid rgb(255, 255, 255); 
    border-radius: 15px; 

}
